$primary-color: #129DDD;
$secondary-color: #004265;
$secondary-color-hover: #01293e;
$secondary-color-opacity: #004265b8;
$link-color: #0EA9FA;
$button-color: #0a99dc;
$button-color-hover: #0b6d9b;
$page-bg: #f8f8f8;
$h1: #2c3e50;
$h2: #004265
