@import '~brandVariables/variables';

body {
    background: $page-bg;
}

header .active {
    color: $primary-color;
}

.banner {
    border-bottom: 1.3rem solid $secondary-color-opacity;
}

button:not(.btn-white) {
    background: $primary-color;
    &:hover { background: $secondary-color; }
}

#home legend {
    color: $secondary-color;
}

#home legend span {
    background-color: $primary-color;
}

#home input {
    border-bottom: 1px solid $secondary-color;
    &:focus { border-bottom: 1px solid $primary-color; }
}

#home h1:not(#riskCheck h1) {
    color: $secondary-color;
}

#home div .radiomark {
    border: 2px solid $secondary-color;
}

.radiolabel .radiomark:after {
    background: $primary-color;
}