@import '~brandVariables/variables';

body { background: $page-bg; color: $text-color }

header .active { color: $primary-color; }

.banner { border-bottom: 1.3rem solid $banner-border-color; }

h1 { color: $h1; }

button:not(.btn-white) {
    background: $button-color;
    &:hover { background: $button-color-hover; }
}

.btn-secondary {
    background-color: $secondary-color;
    &:hover { background-color: $secondary-color-hover;}
}

#home {
    legend {
        color: $secondary-color;
        span { background-color: $primary-color; }
    }
    input {
        border-bottom: 1px solid $secondary-color;
        &:focus { border-bottom: 1px solid $primary-color; }
    }
    #riskCheck  { background-color: $primary-color; }
    div .radiomark { border: 2px solid $secondary-color; }
    label { color: $secondary-color; }
    #advise .stappenplan { color: $link-color; }
}

h2 { color: $h2; }

.radiolabel .radiomark:after { background: $primary-color; }

#newsletter {
    a { color: $link-color; }
    .contentright {
        article { 
            button { color: $secondary-color; }
            a {
                color: $secondary-color;
                &:hover { color: $primary-color; }
            }
        }
    }
}