$lightblue: #82C2E8;
$blue: #28ABE3;
$darkblue: #004265;
$lightblack: #3B4552;
$black: #39434E;
$grey: #DEDEDE;
$main-font: 'Sans-serif';

%btn {
    width: 100%; height: 2.8rem;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1.6rem;
    box-shadow: 2px 2px 8px #b1b1b1;
    cursor: pointer;
}

%back-button {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-weight: 300;
    text-shadow: none;
    font-size: 1rem;
    cursor: pointer;
    &:hover { text-decoration: underline; }
}

%h2 { 
    color: $black;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
}

%inputselect {
    width: auto;
    margin: 4px 4px 0 0; padding: 0;
    display: inherit;
}

%inputtext {
    width: auto;
    margin: 0 0 0 1rem;
    display: none;
}

%label {
    color: $black;
    font-size: 1.3rem;
    margin: 0; padding: 0;
    padding-left: .4rem;
    display: inherit;
}

%checkDiv {
    display: flex;
    margin: .3rem 0rem;
    input[type="radio"] { @extend %inputselect; }
    label { @extend %label; }
}

%radiobutton {
    .radiolabel {
        color: $black;
        margin: 0; padding: 0;
        position: relative;
        padding-left: 2rem;
        margin-bottom: 5.8px;
        cursor: pointer;
        font-size: 1.4rem;
        line-height: 1.7rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &input {   
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }
    
    .radiolabel:hover input ~ .radiomark {
        background-color: #e2e2e2;
    }
    .radiomark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .radiolabel input:checked ~ .radiomark:after {
        display: block;
    }
}

%inputtype {
    left: 3px;
    top: 2.9px;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}

%inputmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 1.3rem;
    width: 1.3rem;
    background-color: #fff;
    border-radius: 50%;
}