#home {
    form {
        position: absolute;
        top: 25rem; right: 13rem;
        width: 29rem; height: 25.5rem;
        background-color: #FFF;
        padding: 1.6rem 1.5rem;
        box-shadow: 0px 0px 50px rgba(0,0,0, .35);
    }
    .center {
        width: 45.5rem; height: 40rem;
        top: 15rem; right: 29rem;
    }
    fieldset { 
        border: none; 
    }
    #funderingCheck {
        h1 { 
            color: $darkblue;
            font-weight: 500;
            margin: 0;
            margin-bottom: 1.5rem;
        }
        div {
            display: flex;
            margin: .7rem 0rem;
            input[type="radio"] { display: none; }
            @extend %radiobutton;
            .radiolabel .radiomark:after { @extend %inputtype };
            .radiomark { @extend %inputmark };
        }
        button { margin-bottom: 0.8rem; margin-top: 1.1rem; }
    }
    #zipcodeCheck {
        div {
            position: relative;
            .btn-expand {
                position: absolute;
                left: 11.2rem;
                top: 1.5rem;
                background: rgba(255,255,255,0.6);
                border: none;
                cursor: pointer;
                transition: all .3s linear;
            }
            .map-resize {
                max-width: 0;
                min-width: 29rem !important;
                transition: all .3s linear;
            }
            .btn-position {
                left: 25.1rem;
                top: 7.4rem;
                transition: all .3s linear;
            }
            img[alt="postcodemap"] {
                position: relative;
                bottom: 2rem;
                right: 2.4rem;
                width: 15rem;
                min-width: 15rem;
                transition: all .3s linear;
            }
        }

        label {
            margin: -1rem 0 0 0;
        }
        p {
            font-size: 0.95rem;
            margin: 0.2rem 0 0 0;
        }
        button { margin-bottom: 0.8rem; margin-top: 1.9rem; }
    }
    #risicoCheck {
        background-color: $blue;
        color: #fff;
        margin: -1.6rem -1.5rem;
        min-width: 29rem;
        height: inherit;
        text-align: center;
        h1 { margin-bottom: 1rem; }
        img { width: 10rem; }
        p {
            margin: 0.2rem 0 0 0;
            padding-top: 2rem;
            font-size: 1.2rem;
        }
        .btn-white {
            @extend %btn;
            margin: 1rem 0.6rem;
            color: rgb(24, 24, 24);
            width: 45%;
            box-shadow: 2px 2px 19px rgba(77, 77, 77, 0.25);
            font-size: 1.3rem;
            font-weight: 500;
            transition: all .1s linear;
            &:hover { background-color: rgb(195, 195, 195); }
        }
        .btn-grey {
            @extend .btn-white;
            background-color: rgb(213, 213, 213);
        }
        a { @extend %back-button; color: #dadada; margin-bottom: 1rem;}
    }
    #klachtCheck {
        h1 { 
            @extend %h1;
            font-size: 1.8rem;
            margin-bottom: 3.5rem;
            margin-top: 0.5rem;
            text-align: center;
        }
        h2 { 
            color: $black;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0;
            margin-bottom: 1rem;
        }
        .mt-5 { margin-top: 4.7rem; }
        div { 
            @extend %checkDiv; 
            margin: .7rem 0rem; 
            input[type="radio"] { display: none; }
            @extend %radiobutton;
            .radiolabel .radiomark:after { @extend %inputtype };
            .radiomark { @extend %inputmark };
        }
        button { margin-bottom: 1rem; margin-top: 2.95rem; }
    }
    #schadeCheck {
        min-width: 42rem;
        h1 { 
            @extend %h1;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        div { 
            @extend %checkDiv; 
            input[type="radio"] { display: none; }
            @extend %radiobutton;
            .radiolabel .radiomark:after { @extend %inputtype };
            .radiomark { @extend %inputmark };
        }
        button { margin-bottom: 1rem; margin-top: 1.35rem; }
        #inputDamage { width: auto; margin: 0 .5rem; }
    }
    #herkenCheck {
        min-width: 42rem;
        h1 {  @extend %h1; }
        p { margin: 0; font-size: .8rem;}
        div { 
            @extend %checkDiv; 
            @extend %radiobutton;
            input[type="checkbox"] { display: none; }
            .radiolabel .radiomark:after { @extend %inputtype; border-radius: 0; };
            .radiomark { @extend %inputmark; border-radius: 0; };
        }
        button { margin-bottom: 1rem; margin-top: 1rem; }
        #inputLast { width: auto; margin: 0 .5rem; }
    }
    #uploadCheck {
        min-width: 42rem;
        h1 { @extend %h1; }
        div { 
            @extend %checkDiv; 
            input[type="radio"] { display: none; }
            @extend %radiobutton;
            .radiolabel .radiomark:after { @extend %inputtype };
            .radiomark { @extend %inputmark };
        }
        .mt-3 { margin-top: 1rem; }
        .mt-5 { margin-top: 2rem; }
        button { margin-bottom: 1rem; margin-top: 1.95rem; }
        .upload-container {
            height: 19.5rem;
            border: 2px dashed #bfbdbd;
            display: grid;
            align-items: flex-start;
            justify-items: center;
            input { display: none; }
            p {
                align-self: flex-start;
                font-size: 1.4rem; font-weight: 500;
                letter-spacing: 1.1px;
                color: #bfbdbd;
            }
            img { width: 5rem; }
            .btn-darkblue { 
                @extend %btn; 
                background-color: $darkblue;
                width: 80%;
                opacity: 0.53;
                cursor: default;
                text-align: center;
                align-items: center;
            }
            .button-enabled {
                opacity: 1.0;
                cursor: pointer;
                &:hover { background-color: #01293e;}
            }
        }
        .file-adding {
            background-color: #fff;
            border-color: #28ABE3 !important;
        }
    }
    #advise {
        min-width: 42rem;
        h1 { @extend %h1; font-size: 1.6rem; }
        h2 { margin: 0.8rem 0; font-size: 1rem; }
        article {
            background-color: #fbfbfb;
            max-height: 23rem;
            overflow-x: hidden;
            border: 1px solid #dadada;
            margin-bottom: 1rem;
            padding: .2rem 1rem;
            h3 { margin: 1rem 0 0 0; font-size: .9rem; }
            p { margin: .2rem 0; font-size: .9rem; }
        }
        .stappenplan {
            font-weight: 800;
            color: $blue;
        }
        button { margin-bottom: 1rem; margin-top: .8rem; }
    }
    #alertCheck {
        p { font-size: 1.1rem; }
        button { margin-bottom: 1rem; margin-top: 0rem; }
        .newline { margin-bottom: 5.2rem; margin-top: 2rem;}
    }
    legend {
        position: relative;
        font-size: 1.8rem;
        color: $darkblue;
        font-weight: 400;
        padding-left: 1.3rem;
        margin-bottom: 1.5rem;
    
        span {
            position: absolute; 
            left: 0rem; top: 7px;
            background-color: #129DDD;
            height: 1.4rem;  width: 0.4rem; 
        }
    }
    label {
        color: $darkblue;
        font-size: 1.2rem; font-weight: 400;
        margin-bottom: 1.1rem;
        display: block;
    }
    input {
        display: block;
        background: none;
        border: none; border-bottom: 1px solid $darkblue;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 2rem;
        padding: 0.4rem 0.2rem;
        &:focus { border-bottom: 1px solid $blue; }
    }
    .btn-success {
        @extend %btn;
        background-color: $blue;
        &:hover {
            transition: all .08s linear;
            background-color: $darkblue;
        }
    }
    a { @extend %back-button; }
    article {
        padding: 1rem 48rem 1rem 5rem;
        max-width: 100%;
        p { font-size: 1.2rem; }
    }
}