$lightblue: #82C2E8;
$blue: #28ABE3;
$darkblue: #004265;
$lightblack: #3B4552;
$black: #39434E;
$grey: #DEDEDE;
$main-font: 'Helvetica Neue';

%btn {
    width: 100%; height: 2.8rem;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1.5rem;
    box-shadow: 2px 2px 8px #b1b1b1;
    cursor: pointer;
}

%back-button {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-weight: 300;
    text-shadow: none;
    font-size: 1rem;
    cursor: pointer;
    &:hover { text-decoration: underline; }
}

%h1 { 
    color: $black;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
}

%inputselect {
    width: auto;
    margin: 4px 4px 0 0; padding: 0;
    display: inherit;
}

%inputtext {
    width: auto;
    margin: 0 0 0 1rem;
    display: none;
}

%label {
    color: $black;
    font-size: 1.3rem;
    margin: 0; padding: 0;
    padding-left: .4rem;
    display: inherit;
}

%checkDiv {
    display: flex;
    margin: .3rem 0rem;
    input[type="radio"] { @extend %inputselect; }
    label { @extend %label; }
}